[submodule "operating-system/vx6-labs-2021"]
	path = operating-system/vx6-labs-2021
	url = git@github.com:cndoit18/xv6-labs-2021.git
[submodule "network/sponge"]
	path = network/sponge
	url = git@github.com:cndoit18/sponge.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "frontend/html-css-course"]
	path = frontend/html-css-course
	url = git@github.com:cndoit18/html-css-course.git
[submodule "frontend/complete-javascript-course"]
	path = frontend/complete-javascript-course
	url = git@github.com:cndoit18/complete-javascript-course.git
